<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Admin Update Driver</title>
</head>
<body>
    <div class="center-container">
        <h1>Admin Update Driver Page</h1>
        <button type="button" class="btn btn-primary btn-center btn-router" routerLink="/admin/viewDrivers">Return to View Drivers Page</button>
        <br>
        <!-- Error message div -->
        <div *ngIf="updateError" class="alert alert-danger">
            <strong>{{ updateError }}</strong>
        </div>

        <div class="container">
            <div class="row">
                <!-- Display old data in table format -->
                <div class="col-md-6">
                    <h2>Old Driver Data</h2>
                    <!-- Table to display old data -->
                    <table class="table">
                        <!-- Table headers -->
                        <thead>
                            <tr>
                                <th>Field</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <!-- Table body -->
                        <tbody *ngIf="oldDriverData">
                            <tr>
                                <td>First Name</td>
                                <td>{{ oldDriverData?.firstName }}</td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td>{{ oldDriverData?.lastName }}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{ oldDriverData?.email }}</td>
                            </tr>
                            <tr>
                                <td>Mobile Number</td>
                                <td>{{ oldDriverData?.mobileNumber }}</td>
                            </tr>
                            <tr>
                                <td>Vehicle Type</td>
                                <td>{{ oldDriverData?.vehicleType }}</td>
                            </tr>
                            <tr>
                                <td>Car Brand</td>
                                <td>{{ oldDriverData?.carBrand }}</td>
                            </tr>
                            <tr>
                                <td>Car Color</td>
                                <td>{{ oldDriverData?.carColor }}</td>
                            </tr>
                            <tr>
                                <td>Username</td>
                                <td>{{ oldDriverData?.username }}</td>
                            </tr>
                        </tbody>                        
                    </table>
                </div>
                <!-- Form for new data -->
                <div class="col-md-6">
                    <h2>Update Driver Data</h2>
                    <!-- Reactive Form -->
                    <form [formGroup]="updateDriverForm" (ngSubmit)="updateDriver()">
                        <!-- Form fields for new data -->
                        <div class="form-group">
                            <label for="driverId"><b>Driver ID:</b></label>
                            <input type="text" class="form-control" id="driverId" value="{{ oldDriverData?.id.toString() }}" name="driverId" readonly>
                        </div>

                        <div class="form-group">
                            <label for="firstName"><b>First Name:</b></label>
                            <input type="text" class="form-control" id="firstName" formControlName="firstName" name="firstName" placeholder="Enter Your First Name" required>
                            <div *ngIf="updateDriverForm.get('firstName').invalid && (updateDriverForm.get('firstName').dirty || updateDriverForm.get('firstName').touched)"
                                class="error-message">
                                <strong *ngIf="updateDriverForm.get('firstName').hasError('required')">First Name is required!</strong>
                                <strong *ngIf="updateDriverForm.get('firstName').hasError('minlength')">First Name must contain at least 5 characters!</strong>
                            </div>   
                        </div>

                        <div class="form-group">
                            <label for="lastName"><b>Last Name:</b></label>
                            <input type="text" class="form-control" id="lastName" formControlName="lastName" name="lastName" placeholder="Enter Your Last Name" required>
                            <div *ngIf="updateDriverForm.get('lastName').invalid && (updateDriverForm.get('lastName').dirty || updateDriverForm.get('lastName').touched)"
                                class="error-message">
                                <strong *ngIf="updateDriverForm.get('lastName').hasError('required')">Last Name is required!</strong>
                                <strong *ngIf="updateDriverForm.get('lastName').hasError('minlength')">Last Name must contain at least 3 characters!</strong>
                            </div>  
                        </div>

                        <div class="form-group">
                            <label for="email"><b>Email:</b></label>
                            <input type="email" class="form-control" id="email" formControlName="email" name="email" placeholder="Enter Your Email" required>
                            <div *ngIf="updateDriverForm.get('email').invalid && (updateDriverForm.get('email').dirty || updateDriverForm.get('email').touched)"
                                class="error-message">
                                <strong *ngIf="updateDriverForm.get('email').hasError('required')">Email is required!</strong>
                                <strong *ngIf="updateDriverForm.get('email').hasError('minlength')">Email must contain at least 10 characters!</strong>
                                <strong *ngIf="updateDriverForm.get('email').hasError('email')">Invalid email format!</strong>
                                <strong *ngIf="updateDriverForm.get('email').hasError('taken')">Email is already taken!</strong>
                            </div>   
                        </div>

                        <div class="form-group">
                            <label for="mobileNumber"><b>Mobile Number:</b></label>
                            <input type="tel" class="form-control" id="mobileNumber" formControlName="mobileNumber" name="mobileNumber" pattern="[0-9]{8}" placeholder="Enter Your Mobile Number" required>
                            <div *ngIf="updateDriverForm.get('mobileNumber').invalid && (updateDriverForm.get('mobileNumber').dirty || updateDriverForm.get('mobileNumber').touched)"
                                class="error-message">
                                <strong *ngIf="updateDriverForm.get('mobileNumber').hasError('required')">Mobile Number is required!</strong>
                                <strong *ngIf="updateDriverForm.get('mobileNumber').hasError('minlength')">Mobile Number must contain at least 8 digits!</strong>
                                <strong *ngIf="updateDriverForm.get('mobileNumber').hasError('maxlength')">Mobile Number must contain at most 8 digits!</strong>
                                <strong *ngIf="updateDriverForm.get('mobileNumber').hasError('pattern')">Mobile Number must start with 8 or 9 and have a total of 8 digits!</strong>
                                <strong *ngIf="updateDriverForm.get('mobileNumber').hasError('taken')">Mobile Number is already taken!</strong>
                            </div>      
                        </div>

                        <div class="form-group">
                            <label for="vehicleType"><b>Vehicle Type:</b></label>
                            <select class="form-control" formControlName="vehicleType" name="vehicleType" id="vehicleType" required>
                                <option value="STANDARD">Standard Taxi</option>
                                <option value="PREMIUM">Premium Taxi</option>
                                <option value="LIMOUSINE">Limousine Taxi</option>
                                <option value="SPECIAL">Wheelchair-Accessible Taxis</option>                 
                            </select>                                    
                            <div *ngIf="updateDriverForm.get('vehicleType').invalid && (updateDriverForm.get('vehicleType').dirty || updateDriverForm.get('vehicleType').touched)"
                                class="error-message">
                                <strong *ngIf="updateDriverForm.get('vehicleType').hasError('required')">Cab Preferences are required!</strong>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="carBrand"><b>Car Brand:</b></label>
                            <input type="text" class="form-control" formControlName="carBrand" name="carBrand" id="carBrand" placeholder="Enter Your Car Brand" required>
                            <div *ngIf="updateDriverForm.get('carBrand').invalid && (updateDriverForm.get('carBrand').dirty || updateDriverForm.get('carBrand').touched)"
                                class="error-message">
                                <strong *ngIf="updateDriverForm.get('carBrand').hasError('required')">Car Brand is required!</strong>
                                <strong *ngIf="updateDriverForm.get('carBrand').hasError('minlength')">Car Brand must contain at least 3 characters!</strong>
                            </div>            
                        </div>
            
                        <div class="form-group">
                            <label for="carColor"><b>Car Color:</b></label>
                            <input type="text" class="form-control" formControlName="carColor" name="carColor" id="carColor" placeholder="Enter Your Car Color" required>
                            <div *ngIf="updateDriverForm.get('carColor').invalid && (updateDriverForm.get('carColor').dirty || updateDriverForm.get('carColor').touched)"
                                class="error-message">
                                <strong *ngIf="updateDriverForm.get('carColor').hasError('required')">Car Brand is required!</strong>
                                <strong *ngIf="updateDriverForm.get('carColor').hasError('minlength')">Car Brand must contain at least 3 characters!</strong>
                            </div>            
                        </div>

                        <div class="form-group">
                            <label for="username"><b>Username:</b></label>
                            <input type="text" class="form-control" id="username" formControlName="username" name="username" placeholder="Enter Your Username" required>
                            <div *ngIf="updateDriverForm.get('username').invalid && (updateDriverForm.get('username').dirty || updateDriverForm.get('username').touched)"
                                class="error-message">
                                <strong *ngIf="updateDriverForm.get('username').hasError('required')">Username is required!</strong>
                                <strong *ngIf="updateDriverForm.get('username').hasError('minlength')">Username must contain at least 8 characters!</strong>
                                <strong *ngIf="updateDriverForm.get('username').hasError('maxlength')">Username must not contain more than 16 characters!</strong>
                                <strong *ngIf="updateDriverForm.get('username').hasError('pattern')">Username must start with an uppercase 'D'!</strong>
                                <strong *ngIf="updateDriverForm.get('username').hasError('taken')">Username is already taken!</strong>
                            </div>  
                        </div>

                        <div class="form-group">
                            <label for="passwordInput"><b>Password:</b></label>
                            <input id="passwordInput" type="{{ showPassword ? 'text' : 'password' }}" class="form-control" 
                                formControlName="password" name="password" placeholder="Enter Your Password" required>
                            <div *ngIf="updateDriverForm.get('password').invalid && (updateDriverForm.get('password').dirty || updateDriverForm.get('password').touched)"
                                class="error-message">
                                <strong *ngIf="updateDriverForm.get('password').hasError('required')">Password is required!</strong>
                                <strong *ngIf="updateDriverForm.get('password').hasError('minlength')">Password must contain at least 8 characters!</strong>
                                <strong *ngIf="updateDriverForm.get('password').hasError('maxlength')">Password must not contain more than 255 characters!</strong>
                                <strong *ngIf="updateDriverForm.get('password').hasError('pattern')">Password must contain at least 1 number, 1 uppercase letter, 1 '&#64;', and be at least 8 characters long!</strong>
                            </div>                
                        </div>      

                        <div class="form-group">
                            <label for="showPassword">
                                <input type="checkbox" id="showPassword" (change)="togglePasswordVisibility()">Show Password
                            </label>
                        </div>

                        <!-- Update Button -->
                        <button type="submit" class="btn btn-success btn-center" [disabled]="updateDriverForm.invalid">
                            {{ updateDriverForm.invalid ? 'Please enter new User Account Credentials' : 'UPDATE' }}
                        </button>     
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>