<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Super Admin Create Admin</title>
</head>
<body>
    <h1>Admin Create User Page</h1>
    <button type="submit" class="btn btn-primary btn-center btn-router" routerLink="/admin/ViewUsers">View All Users</button>
    <button type="submit" class="btn btn-secondary btn-center btn-router" routerLink="/admin">Return to Admin Dashboard</button>

    <div class="center-container">
        <!-- Reactive Form -->
        <form [formGroup]="registerUserForm" (ngSubmit)="registerUser()">
    
            <!-- Error message div -->
            <div *ngIf="registerError" class="alert alert-danger">
                <strong>{{ registerError }}</strong>
            </div>
        
            <div class="form-group">
                <label for="firstName"><b>First Name:</b></label>
                <input type="text" class="form-control" formControlName="firstName" name="firstName" id="firstName" placeholder="Enter Your First Name" required>
                <div *ngIf="registerUserForm.get('firstName').invalid && (registerUserForm.get('firstName').dirty || registerUserForm.get('firstName').touched)"
                    class="error-message">
                    <strong *ngIf="registerUserForm.get('firstName').hasError('required')">First Name is required!</strong>
                    <strong *ngIf="registerUserForm.get('firstName').hasError('minlength')">First Name must contain at least 5 characters!</strong>
                </div>                   
            </div>

            <div class="form-group">
                <label for="lastName"><b>Last Name:</b></label>
                <input type="text" class="form-control" formControlName="lastName" name="lastName" id="lastName" placeholder="Enter Your Last Name" required>
                <div *ngIf="registerUserForm.get('lastName').invalid && (registerUserForm.get('lastName').dirty || registerUserForm.get('lastName').touched)"
                    class="error-message">
                    <strong *ngIf="registerUserForm.get('lastName').hasError('required')">Last Name is required!</strong>
                    <strong *ngIf="registerUserForm.get('lastName').hasError('minlength')">Last Name must contain at least 3 characters!</strong>
                </div>                   
            </div>

            <div class="form-group">
                <label for="email"><b>Email:</b></label>
                <input type="email" class="form-control" formControlName="email" name="email" id="email" placeholder="Enter Your Email" required>
                <div *ngIf="registerUserForm.get('email').invalid && (registerUserForm.get('email').dirty || registerUserForm.get('email').touched)"
                    class="error-message">
                    <strong *ngIf="registerUserForm.get('email').hasError('required')">Email is required!</strong>
                    <strong *ngIf="registerUserForm.get('email').hasError('minlength')">Email must contain at least 10 characters!</strong>
                    <strong *ngIf="registerUserForm.get('email').hasError('email')">Invalid email format!</strong>
                    <strong *ngIf="registerUserForm.get('email').hasError('taken')">Email is already taken!</strong>
                </div>            
            </div>

            <div class="form-group">
                <label for="mobileNumber"><b>Mobile Number:</b></label>
                <input type="tel" pattern="[0-9]{8}" class="form-control" formControlName="mobileNumber" name="mobileNumber" id="mobileNumber" placeholder="Enter Your Mobile Number" required>
                <div *ngIf="registerUserForm.get('mobileNumber').invalid && (registerUserForm.get('mobileNumber').dirty || registerUserForm.get('mobileNumber').touched)"
                    class="error-message">
                    <strong *ngIf="registerUserForm.get('mobileNumber').hasError('required')">Mobile Number is required!</strong>
                    <strong *ngIf="registerUserForm.get('mobileNumber').hasError('minlength')">Mobile Number must contain at least 8 digits!</strong>
                    <strong *ngIf="registerUserForm.get('mobileNumber').hasError('maxlength')">Mobile Number must contain at most 8 digits!</strong>
                    <strong *ngIf="registerUserForm.get('mobileNumber').hasError('pattern')">Mobile Number must start with 8 or 9 and have a total of 8 digits!</strong>
                    <strong *ngIf="registerUserForm.get('mobileNumber').hasError('taken')">Mobile Number is already taken!</strong>
                </div>            
            </div>

            <div class="form-group">
                <label for="cabPreferences"><b>Preferences of Cab Type:</b></label>
                <select class="form-control" formControlName="cabPreferences" name="cabPreferences" id="cabPreferences" required>
                    <option value="STANDARD">Standard Taxi</option>
                    <option value="PREMIUM">Premium Taxi</option>
                    <option value="LIMOUSINE">Limousine Taxi</option>
                    <option value="SPECIAL">Wheelchair-Accessible Taxis</option>                 
                </select>                                    
                <div *ngIf="registerUserForm.get('cabPreferences').invalid && (registerUserForm.get('cabPreferences').dirty || registerUserForm.get('cabPreferences').touched)"
                    class="error-message">
                    <strong *ngIf="registerUserForm.get('cabPreferences').hasError('required')">Cab Preferences are required!</strong>
                </div>
            </div>
                 

            <div class="form-group">
                <label for="username"><b>Username:</b></label>
                <input type="text" class="form-control" formControlName="username" name="username" id="username" placeholder="Enter Your Username" required>
                <div *ngIf="registerUserForm.get('username').invalid && (registerUserForm.get('username').dirty || registerUserForm.get('username').touched)"
                    class="error-message">
                    <strong *ngIf="registerUserForm.get('username').hasError('required')">Username is required!</strong>
                    <strong *ngIf="registerUserForm.get('username').hasError('minlength')">Username must contain at least 8 characters!</strong>
                    <strong *ngIf="registerUserForm.get('username').hasError('maxlength')">Username must not contain more than 16 characters!</strong>
                    <strong *ngIf="registerUserForm.get('username').hasError('pattern')">Username must start with an uppercase 'U'!</strong>
                    <strong *ngIf="registerUserForm.get('username').hasError('taken')">Username is already taken!</strong> 
                </div>                    
            </div>
                
            <div class="form-group">
                <label for="passwordInput"><b>Password:</b></label>
                <input id="passwordInput" type="{{ showPassword ? 'text' : 'password' }}" class="form-control" 
                    formControlName="password" name="password" placeholder="Enter Your Password" required>
                <div *ngIf="registerUserForm.get('password').invalid && (registerUserForm.get('password').dirty || registerUserForm.get('password').touched)"
                    class="error-message">
                    <strong *ngIf="registerUserForm.get('password').hasError('required')">Password is required!</strong>
                    <strong *ngIf="registerUserForm.get('password').hasError('minlength')">Password must contain at least 8 characters!</strong>
                    <strong *ngIf="registerUserForm.get('password').hasError('maxlength')">Password must not contain more than 255 characters!</strong>
                    <strong *ngIf="registerUserForm.get('password').hasError('pattern')">Password must contain at least 1 number, 1 uppercase letter, 1 '&#64;', and be at least 8 characters long!</strong>
                </div>                
            </div>              
                
            <div class="form-group">
                <label for="showPassword">
                    <input type="checkbox" id="showPassword" (change)="togglePasswordVisibility()">Show Password
                </label>
            </div>
                
            <!-- Register Button -->
            <button type="submit" class="btn btn-success btn-center" [disabled]="registerUserForm.invalid">
                {{ registerUserForm.invalid ? 'Please enter User Account creation Credentials' : 'REGISTER' }}
            </button>            
        </form>
    </div>
</body>
</html>
