<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Driver Dashboard</title>
</head>
<body>
    <div class="center-container text-center">
        <div class="container-fluid">
            <h1 class="mt-4">Driver Dashboard</h1>
            <h3>Welcome Home, <span class="authenticated-user">{{ driver }}</span>!</h3>

            <div class="row d-flex justify-content-center">
                <div class="card">
                    <img src="../../assets/images/driver.jfif" class="card-img-top" alt="admin">
                    <div class="card-body">
                        <h5 class="card-title">Profile</h5>
                        <p class="card-text">If you have no good drive in you, your life will not be steered through a good direction. It will miss its destined station. Passion or drive is what moves the vehicle of a fulfilled life. - Israelmore Ayivor</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated eons ago</small>
                        <div class="btn-group">
                            <p><b>View Driver Profile</b></p>
                            <button class="btn btn-primary" id="viewProfile" (click)="goToViewProfilePage()">View Your Profile</button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <img src="../../assets/images/booking.jfif" class="card-img-top" alt="enquiries">
                    <div class="card-body">
                        <h5 class="card-title">Booking</h5>
                        <p class="card-text">The mission of Booking is to empower people to experience the world. Whatever people want to do, wherever they want to go, they can book it with us. - Gillian Tans</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated eons ago</small>
                        <div class="btn-group">
                            <p><b>View All Bookings</b></p>
                            <button class="btn btn-primary" id="viewBooking" (click)="goToViewBookingsPage()">View Bookings</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

